langchain
langchain-openai
langchain-groq
deepeval
pandas
aiosqlite
python-dotenv
rapidfuzz
pydantic
pytest
setuptools
pyodbc
torch
transformers
accelerate
langchain_community
langchain_google_genai
faiss-cpu
# faiss-gpu
thefuzz
deepeval
# -e .